.keyboard-question{
     margin-top: 5% !important;
     margin-bottom: 20% !important;
     .keyboard-textarea{
          padding: 20px;
          background: #FFFFFF;
          border: 2px solid #0E4A66;
          box-sizing: border-box;
          box-shadow: 3px 4px 4px 1px #0E4A66;
          border-radius: 8px;
          font-size: 16px;
          line-height: 24px;
          resize: none;
          &:focus-visible{
               outline: none;
          }
     }
     .correct-answer{
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          letter-spacing: -0.32px;
          color: #0E4A66;
     }
}


@media (max-width: 767px) {
     .keyboard-question{
          width: 100vw;
          max-width: 100% !important;
     }
}

