.steps{
    font-family: 'Montserrat', sans-serif;
    p, h1, h2, h3, h4, h5, h6, textarea{
        font-family: 'Montserrat', sans-serif;
    }
    .select-box{
        cursor: pointer;
        height: 83px;
        display: flex;
        align-items: center;
        margin: 25px 15px;
        padding: 0px 25px;
        background: #FFFFFF;
        border: 2px solid #0E4A66;
        box-sizing: border-box;
        box-shadow: 3px 4px 4px 1px #0E4A66;
        border-radius: 8px;

        h5{
            font-size: 20px;
            font-weight: 700;
        }
        &.selected{
            background: #22B9D4;
            h5{
                color: #FFFFFF;
            }
        }
    }

    .picture-box{
        position: relative;
        display: flex;
        justify-content: center;
        cursor: pointer;
        margin: 10px 18px;
        padding: 21% 0;
        background: #FFFFFF;
        border: 2px solid #0E4A66;
        box-sizing: border-box;
        box-shadow: 3px 4px 4px 1px #0E4A66;
        border-radius: 8px;

        .box-icon{
            position: absolute;
            right: -10px;
            bottom: -9px;
        }
        .error-icon{
            border: 2px solid white;
            border-radius: 50%;
        }
        h5{
            font-size: 20px;
            font-weight: 700;
        }
        &.selected{
            background: #22B9D4;
            border: 1px solid rgba(34, 185, 212, 0.39);
            h5{
                color: #FFFFFF;
            }
        }
    }
}

.bar {
    list-style: none;
}
.bar >li {
    position: relative;
    font-size: 13px;
}

.bar>li:before {
    content: '\25CF';
    margin-right: 10px;
    font-size: 20px;
}
.bar>li:after {
    position: absolute;
    left: 0;
    content: "";
    border-left: 1px dashed black;
    margin-left: 5px;
    height: 100%;
}


.first-item>li:after {
   top: 20px !important;
}


.completed>li:before {
   color: orange;
}

.bar >li:first-of-type:after {
    top: 50%;
}
.bar >li:last-of-type:after {
    top: -72%;
}


.bar-first > li:before {
    content: "â—";
    margin-right: 10px;
    font-size: 20px;
    color: #FD773B;
    z-index: 99;
}

.bar-first>li:after {
    height: 0%;
}

.progress-bar {
    margin-bottom: 4%;
    span{
        display: none !important;
    }
}

@media (max-width: 767px) {
    .progress-bar{
        margin: 7px 10px;
    }
}


li span {
    position: absolute;
    top: 7px;
}

.text-content{
    textarea{
        &.Mui-disabled {
            opacity: 1;
            -webkit-text-fill-color: black;
        }
    }
}