.side-nav{
  background: #0E4A66;
  min-height: 100vh;
  position: sticky;
  top: 0;
  .name{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  .items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    cursor: pointer;
  }
}

@media screen and (max-width: 768px) {
  .side-nav {
    display: none !important;
  }
}

@media screen and (min-width: 2560px) {
  .side-nav {
    .items{
      width: 60%;
    }
    .name{
      font-size: 28px;
    }
  }
}


//@media screen and (min-width: 1800px) {
//  .side-nav {
//    .items{
//      width: 70%;
//    }
//  }
//}