.dashboard{
  font-family: 'Montserrat', sans-serif;
  p, h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
  }
  .all-programmes{
    cursor: pointer;
    margin: 10px 13px 60px 13px;
    box-sizing: border-box;
    padding: 30px 0;
    border-radius: 10px;
    box-shadow: #0e4a66 1px 2.5px 17px, #0e4a66 2px 6px 2px;
    border: 2px solid #0E4A66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
  }
  .programmes-title{
    font-weight: 600;
    font-size: 24px;
    line-height: 27px;
    text-transform: capitalize;
    color: #003B50;
    margin: 0 8px;
    padding-left: 10px;
  }
  .dashboard-card{
    justify-content: center;
    cursor: pointer;
    margin: 7px 7px 30px 7px;
    max-width: 46% !important;
    box-sizing: border-box;
    border-radius: 8px;
    height: 180px;
    box-shadow: #0e4a66 0px 6.5px 8px, #0e4a66 2px 3px 0px;
    border: 2px solid #0E4A66;
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 9px;
  }
  .dashboard-title{
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    text-transform: capitalize;
    color: #003B50;
  }
  .dashboard-description{
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    text-transform: capitalize;
    color: #003B50;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 0;
  }
}
