.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.mobile{
  padding: 0 40px;
}
.burger-menu{
  display: none;
}
.video{
  width: 80% !important;
  height: 120% !important;
}

@media screen and (max-width: 767px) {
  .mobile {
    min-width: 420px !important;
    padding: 0 !important;
  }
  .burger-menu{
    display: flex !important;
    z-index: 999;
    min-width: "100vw";
    min-height: "100hw";
  }
  .video{
    width: 100%;
    height: 100%;
  }
  .burger-menu button{
    right: 27px;
  }
  .back-arrow{
    margin-left: 4%;
  }
}